<p>
I can’t believe I have to cancel our plans for
<input type="text" placeholder="day/date of original event">. <br>
I am so
<input type="text" list="thoughts" placeholder="pick below or add own">
<datalist id="thoughts">
  <option value="silly">
  <option value="forgetful">
  <option value="sorry">
  <option value="absent-minded">
</datalist>. <br>
I
<input type="text" list="excuse" placeholder="pick below or add own">
<datalist id="excuse">
  <option value="didn’t realize">
  <option value="totally forgot">
  <option value="can’t believe">
</datalist> that I need to <input type="text" placeholder="excuse event">.<br>
I feel really bad about this, maybe we can <input type="text" placeholder="activity to do together"> sometime soon instead.
</p>
