<!-- templates/home.jinja2 -->
{% extends "templates/layout.jinja2" %}
{% block content %}
<h1>Pick an Excuse Type:</h1>
<h2 class="excuse_button" id="out">Get Out of Something</h2>
<h2 class="excuse_button" id="cancel">Cancel Plans</h2>
<h2 class="excuse_button" id="something">Not Do Something</h2>
<h2 class="excuse_button" id="late">Lateness</h2>
<h2 class="excuse_button" id="no">Just Say No</h2>
<div id="form_call"></div>
{% endblock content%}
