<p>
Sorry! I am going to be
<input type="text" list="thoughts" placeholder="pick below or add own">
<datalist id="thoughts">
  <option value="a little">
  <option value="a smidge">
  <option value="VERY">
  <option value="super">
  <option value="slightly">
</datalist>
late. <br>
The <input type="text" placeholder="something you can blame(ie. subway)">is always making me late for things! <br>
It’s so
<input type="text" list="excuse" placeholder="pick below or add own">
<datalist id="excuse">
  <option value="typical">
  <option value="annoying">
  <option value="the norm">
  <option value="fetch">.
</datalist>. <br>
Seriously though, please don’t
<input type="text" list="thing" placeholder="pick below or add own">
<datalist id="thing">
  <option value="leave">
  <option value="wait">
  <option value="be mad">
  <option value="kill me">
</datalist>. <br>
Let’s just say
<input type="text" list="do" placeholder="pick below or add own">
<datalist id="do">
  <option value="I’ll buy you">
  <option value="I owe you">
  <option value="I’ll make up for this with">
</datalist>
<input type="text" placeholder="some bribe to apologize">
<input type="text" list="time" placeholder="pick below or add own">
<datalist id="time">
  <option value="when I get there">
  <option value="next time I see you">
  <option value="soon">
</datalist>
.

</p>
