<p>
Seriously
<input type="text" list="thoughts" placeholder="pick below or add own">
<datalist id="thoughts">
  <option value="dude">
  <option value="friend">
  <option value="pal">
  <option value="buddy">
  <option value="gurl">
  <option value="you">
</datalist>. <br>
I just can’t. <br>
I have to say
<input type="text" list="excuse" placeholder="pick below or add own">
<datalist id="excuse">
  <option value="no way">
  <option value="no way jose">
  <option value="nope">
  <option value="not gonna happen">.
</datalist>to you this time.<br>
I really can’t <input type="text" placeholder="whatever you are saying no to">.  <br>
Sometimes a
<input type="text" list="thing" placeholder="pick below or add own">
<datalist id="thing">
  <option value="bro">
  <option value="girl">
  <option value="person">
  <option value="guy">
  <option value="gal">
  <option value="lady">
  <option value="robot">
</datalist>just needs to know when to say no, and this is one of those times. <br>
</p>
