<p>
I’m so sorry I can’t <input type="text" list="thoughts" placeholder="pick below or add own">
<datalist id="thoughts">
  <option value="attend">
  <option value="go to">
  <option value="be there for">
  <option value="help with">
</datalist>
<input type="text" placeholder="Event Name">. <br>
 Unfortunately I
<input type="text" list="excuse" placeholder="pick below or add own">
<datalist id="excuse">
  <option value="am booked for">
  <option value="have already committed to">
  <option value="have to">
  <option value="made plans to">
</datalist> <input type="text" placeholder="Something Else You Need to Do">.
<br>
I feel really bad about this, maybe we can <input type="text" placeholder="activity to do together"> sometime soon instead.
</p>
