<p>
It’s so nice of you to think of me for <input type="text" placeholder="activity person wants you to do">, but I am so consumed with
 <input type="text" placeholder="activity that takes up your time">. <br>
right now. <br>
Maybe once
<input type="text" list="thoughts" placeholder="pick below or add own">
<datalist id="thoughts">
  <option value="things are less hectic">
  <option value="I have more free time">
  <option value="everything is finished">
</datalist>
I will be able to
<input type="text" placeholder="activity person wants you to do">. <br>
 Seriously
<input type="text" list="excuse" placeholder="pick below or add own">
<datalist id="excuse">
  <option value="though">
  <option value="buddy">
  <option value="friend">
  <option value="pal">
</datalist>, I really appreciate you reaching out to me for this.
<br>
I owe you  <input type="text" list="thing" placeholder="pick below or add own">
<datalist id="thing">
  <option value="a solid">
  <option value="a coffee">
  <option value="dinner">
  <option value="a drink">
</p>
